<div id="<%= dom_id receivable %>">
  <p>
    <strong>Title:</strong>
    <%= receivable.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= receivable.description %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= receivable.value %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= receivable.date %>
  </p>

  <p>
    <strong>User:</strong>
    <%= receivable.user_id %>
  </p>

</div>
